#img1{
  width:800px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body{
  font-size: 50px;
  font-family: cursive;
  text-align: left;
  background-color: grey;
}
h1{
  border-style: solid;
  border-color: Black;
  font-size: 180px;
  text-align: center;
  color: Black;
  font-family: fantasy;
}
